@model IEnumerable<Project1.Models.Session>
@{
    if (Model.Count() < 1)
    {
        <p>No session in database yet.</p>
    }
    else
    {
        <h3>All Session</h3>
        <table border="1">
            <tr>
                <th>Session Id</th>
                <th>Coach</th>

            </tr>
            @foreach (var s in Model)
            {
                <tr>
                    <td>@s.SessionId</td>
                    <td>@s.Coach</td>
                    <td>
                        @{

                            <a asp-controller="Coach"
                               asp-action="AddSession">
                                Add Session
                            </a>


                        }
                    </td>
                </tr>
            }
        </table>
    }
}
