@model IEnumerable<Project1.Models.Enrollment>
<h3>Student Name: @ViewData["sname"]</h3>
<table border="1">
    <tr>
        <th>Session ID</th>
        <th>Grade</th>
    </tr>
    @foreach (var s in Model)
    {
        <tr>
            <td>@s.Session.SessionId</td>
            <td>@Html.DisplayFor(m => s.LetterGrade)</td>
        </tr>
    }
</table>
<p><a asp-action="Index">Back to Swimmer Home</a></p>