<h1>Smith Swim School</h1>
<h2>Swimmer Home</h2>
<p><a asp-action="AddProfile">Add a profile</a></p>
<p><a asp-action="AllSession">Sign up for a session</a></p>
<p><a asp-action="CheckGrade">Check your progress report</a></p>