@model Project1.Models.Swimmer
<h3>Swimmer Profile</h3>
        <table border="1">
            
<tr>
        <th>Swimmer Id</th>
        <th>Swimmer Name</th>
    </tr>

      <tr>
    <td>@Model.SwimmerId</td>
    <td>@Model.SwimmerName</td>
    
        </tr>

        </table>

    
