@model IEnumerable<Project1.Models.Lesson>

<p><a asp-action="AddLesson">Add a Lesson</a></p>
@{
    if (Model.Count() < 1)
    {
        <p>No lessons in database yet.</p>
    }
    else
    {
        <h3>All Lessons</h3>
        <table border="1">
            <tr>
                <th>Skill Level</th>
                <th>Tuition</th>
            </tr>
            @foreach (var l in Model)
            {
                <tr>
                    <td>@l.SkillLevel</td>
                    <td>@l.Tuition</td>
                </tr>
            }
        </table>
    }
}