@model Project1.ViewModels.AccountLoginViewModel

<h1>Smith Swim School</h1>
<form  asp-action="Login" method="post">
    <div asp-validation-summary="All"></div>
    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>
    <br />
    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>
    <br />
    <button type="submit">Log In</button>
  
    <br />
   <h4>Don't have an account with Smith Swim School yet?<br /><button type="submit"> <a asp-controller="Account" asp-action="Register">Register Here</a></button></h4> 

   
</form>