@model Project1.Models.Session

<h2>Create a new session</h2>
<form asp-controller="Coach" asp-action="AddSession"
      method="post">
    <label asp-for="StartDate"></label>
    <input asp-for="StartDate" />
    <br />
    <label asp-for="EndDate"></label>
    <input asp-for="EndDate" />
    <br />
    <label asp-for="SeatCapacity"></label>
    <input asp-for="SeatCapacity" />
    <br />
    <label asp-for="DailyStartTime"></label>
    <input asp-for="DailyStartTime" />
    <br />
    <input asp-for="CoachId" type="hidden" />
    <br />
    <input asp-for="LessonId" type="hidden" />
    <br />
    <button type="submit">Add Session</button>
</form>
