@model IEnumerable<Project1.Models.Lesson>
@{
    if (Model.Count() < 1)
    {
        <p>
            You don't have a lesson yet.
            
        </p>
    }
    else
    {
        <h3>All Lessons</h3>
        <table border="1">
            <tr>
                <th>Lesson Id</th>
                <th>Skill Level</th>
                <th>Tuition</th>
            </tr>
            @foreach (var lesson in Model)
            {
                <tr>
                    <td>@lesson.LessonId</td>
                    <td>@lesson.SkillLevel</td>
                    <td>@lesson.Tuition</td>
                    <td>
                        <a asp-controller="Coach"
                           asp-action="AddSession"
                           asp-route-id="@lesson.LessonId">
                            Add Session
                        </a>
                    </td>
                </tr>
            }
        </table>
    }
}
<p><a asp-action="Index">Back to coach home</a></p>