<h1>Smith Swim School</h1>
<h2>Coach Home</h2>
<p><a asp-action="AddProfile">Add a profile</a></p>
<p><a asp-action="AllLesson">Add a Session</a></p>
<p><a asp-action="SessionByCoach">Add a Progress Report</a></p>
