@model Project1.Models.Coach
<h3>Coach Profile</h3>
        <table border="1">

    <tr>
    <th>Coach Id</th>
    <th>Coach Name</th>
    <th>Bio</th>
        </tr>

        <tr>
        <td>@Model.CoachId</td>
        <td>@Model.CoachName</td>
          <td>@Model.Bio</td></tr>
</table>