@model Project1.Models.Coach

<table>
    <tr><th>Coach Id</th><td>@Model.CoachId</td></tr>
    <tr><th>Coach Name</th><td>@Model.CoachName</td></tr>
    <tr><th>Bio</th><td>@Model.Bio</td></tr>
</table>
